<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/chickenNoodle.jpg" /><br />
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="size">Chicken Noodle Soup</label>
        <select class="form-control mr-sm-2 mb-2" name="size">
          <option value="cup">Cup $3.00</option>
          <option value="bowl">Bowl $5.00</option>
        </select><br />
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/tomato.jpg" /><br />
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="size">Tomato Soup</label>
        <select class="form-control mr-sm-2 mb-2" name="size">
          <option value="cup">Cup $3.00</option>
          <option value="bowl">Bowl $5.00</option>
        </select><br />
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/greekSalad.jpg" /><br />
    <p>Greek Salad $8.00</p>
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/ensalada.jpg" /><br />
    <form id="menu" action="#" method="post">
      <p>Fuego Ensalada $8.00</p>
      <div class="form-inline">
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
</section>


