<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/pizza_pep.jpg" /><br />
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="size">Pepperoni Pizza</label>
        <select class="form-control mr-sm-2 mb-2" name="size">
          <option value="small">Small $12.00</option>
          <option value="medium">Medium $15.00</option>
          <option value="large">Large $18.00</option>
        </select><br />
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/pizza_veg.jpg" /><br />
    <p>Vegetarian Pizza $12.50</p>
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/pizza_buf.jpg" /><br />
    <p>Buffalo Chicken Pizza $12.00</p>
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 food">
    <img src="assets/images/pizza_pep.jpg" /><br />
    <form id="menu" action="#" method="post">
      <div class="form-inline">
        <label class="mr-sm-2" for="size">Pepperoni Pizza</label>
        <select class="form-control mr-sm-2 mb-2" name="size">
          <option value="small">Small $12.00</option>
          <option value="medium">Medium $15.00</option>
          <option value="large">Large $18.00</option>
        </select><br />
        <label class="mr-sm-2" for="qty">Qty</label>
        <select class="form-control mr-sm-2 mb-2" name="qty">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
          <option value="six">6</option>
          <option value="seven">7</option>
          <option value="eight">8</option>
          <option value="nine">9</option>
          <option value="ten">10</option>
        </select>
        <input type="submit" value="Order" class="btn btn-primary mr-sm-2 mb-2" />
      </div>
    </form>
  </div>
</section>

