<main class="main navENB">
  <div class="row">
    <div class="col-12">
      <img src="assets/images/pizzaSlice.jpg" />
    </div>
  </div>
  <div class="row space">
    <div class="col-2 open">
      <img class="float-right" src="assets/images/openLg.png" />
    </div>
    <div class="col-2 open">
      <p class="float-left"><b>Today's Hours</b><br />Thursday 9am - 9pm</p>
    </div>
    <div class="col-8 navENB">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLink="../menu1/menu1.component.html">Pizza</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="../menu2/menu2.component.html">Pasta</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="../menu3/menu3.component.html">Appetizers</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Soup & Salad</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Breakfast</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Lunch</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Dessert</a></li>
      </ul>
    </div>
  </div>   
</main>
