<header class="top row">
  <div class="col partner">
     <h1>Franko's Pizza</h1>
   </div>
  <div class="col">
      <img class="logo" src="assets/images/logo.png" width="" height="">
  </div>
  <div class="col right">
    <ul>
      <li><a href="#" class="btn btn-info" role="button">Sign In</a></li>
      <li><a href="#" class="btn btn-info" role="button">Sign Up</a></li>
      <li><a hret="#"><img class="cart" src="assets/images/cart.png" width="" height=""/></a></li>
    </ul>
    <p>ORDER ONLINE - TAKEOUT / DELIVERY / CATERING</p>
  </div>
</header>
